<!-- Name -->

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Name</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <input class="input" type="text" placeholder="Name">
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded">
        <input class="input" type="text" placeholder="Surname">
      </p>
    </div>
  </div>
</div>


<!-- Birthday -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Birthday</label>
  </div>
  <div class="field-body">
    <div class="field is-expanded">
      <div class="field is-expanded">
        <p class="control is-expanded">
          <input class="input" type="date" placeholder="Your birthday">
        </p>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Email</label>
  </div>
  <div class="field-body">
    <div class="field is-expanded">
      <div class="field is-expanded">
        <div class="control is-expanded">
          <input class="input" type="email" placeholder="hello@challenge.com">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary signin">
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>